#footer
  .g-wide-5-24.g-1-24
  .g-wide-14-24.g-11-12
    p#copyright
      | &copy;&nbsp;
      = new Date().getYear() + 1900
      | &nbsp;
      = public._data.meta.copyright
      | .
      br/
      | Lovingly made by Haiji &amp;&nbsp;
      a(href='http://hmsk.me', target= '_blank') hmsk
      | .
