- size = size ? size : 100;
- color = color ? color : '#ccc';
- data_colors = data_colors ? data_colors : color;
- width = size * 3 + size / 10
- height = size * 3
svg.haiiro-icon(width= width, height= height, id= id, viewBox= "0 0 " + width + " " + height, data-colors= data_colors)
  rect#h-0-0(x= '0', y= '0', width= size, height= size, fill= color)/
  rect#h-0-1(x= '0', y= size, width= size, height= size, fill= color)/
  rect#h-0-2(x= '0', y= size * 2, width= size, height= size, fill= color)/
  rect#h-1-1(x= size, y= size, width= size, height= size, fill= color)/
  rect#h-2-0(x= size * 2.1, y= '0', width= size, height= size, fill= color)/
  rect#h-2-1(x= size * 2.1, y= size, width= size, height= size, fill= color)/
  rect#h-2-2(x= size * 2.1, y= size * 2, width= size, height= size, fill= color)/
