@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.fadein(@duration) {
  animation: fadein @duration;
  -webkit-animation: fadein @duration;
}
