@import 'font-awesome/font-awesome';
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300,700);

@haiiro-background-dark: #e4e4e4;
@haiiro-background-light: #f1f1f1;
@base-font-color: #444;
@base-font-size: 16px;
@text-selection-color: #d5d5d5;

body {
  font-family: 'Quicksand', '游ゴシック体 ミディアム', 'YuGothic Medium', sans-serif;
  font-size: @base-font-size;
  background-color: @haiiro-background-light;
  color: @base-font-color;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  ::-moz-selection { background: @text-selection-color; }
  ::selection { background: @text-selection-color; }
}

a {
  color: #999;
  text-decoration: none;
  &:hover, &:active, &:focus { color: #333; }
}

#links {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: @haiiro-background-dark;
  h2 {
    color: #d1d1d1;
    font-size: 20px;
  }
  .link-box {
    padding: 0.25em 0.5em 0.25em 0;
    a {
      color: #bfbfbf;
      text-decoration: none;
      & > .icon-box {
        height: 20px;
        padding: 12px 0 12px 10px;
        background-color: @haiiro-background-light;
        line-height: 20px;
        i {
          width: 1.0em;
          margin-right: 5px;
          font-size: 1.0em;
          vertical-align: middle;
        }
        span.link-name {
          font-size: 12px;
          font-weight: 700;
        }
        &:hover { background-color: #dedede; }
      }
    }
  }
}

#footer {
  padding-bottom: 10px;
  background-color: @haiiro-background-dark;
  p#copyright {
    color: #6b6b6b;
    font-size: 12px;
    text-align: center;
    line-height: 2.0em;
  }
}
