@import '_font-awesome/font-awesome.less';
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300,700);

@haiiro-background-dark: #e4e4e4;
@haiiro-background-light: #f1f1f1;
@haiiro-section-border: #d6d6d6;
@base-font-color: #444;
@base-font-size: 16px;
@text-selection-color: #d5d5d5;
@text-emphasize-color: #e0559f;

body {
  font-family: 'Quicksand', '游ゴシック体 ミディアム', 'YuGothic Medium', sans-serif;
  font-size: @base-font-size;
  background-color: @haiiro-background-light;
  color: @base-font-color;
  margin: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  ::-moz-selection { background: @text-selection-color; }
  ::selection { background: @text-selection-color; }
}

a {
  color: #999;
  text-decoration: none;
  &:hover, &:active, &:focus { color: #333; }
}

.content-field {
  padding: 20px 0;
}

.switcher-links {
  a {
    height: inherit;
    display: inline-block;
    font-size: 1.3em;
    margin-left: 50px;
    &:first-child { margin-left: 0; }
    &.active {
      color: @text-emphasize-color;
      border-bottom: 2px solid @text-emphasize-color;
    }
  }
}

#title-bar {
  padding: 10px 0;
  background-color: @haiiro-background-dark;
  svg.haiiro-icon {
    margin-top: 2px;
    margin-left: 20px;
  }
}

#nav-bar {
  width: 100%;
  position: fixed;
  top: 0;
  height: 65px;
  background-color: @haiiro-background-dark;
  opacity: 0;
  transition: opacity .4s ease-in;
  border-bottom: 1px solid @haiiro-section-border;
  &.show {
    opacity: 1;
  }
  .icon {
    margin-top: 10px;
  }
  .haiiro-icon {
    margin-left: 10px;
  }
  p {
    margin: 0;
    height: 65px;
    line-height: 65px;
    &.year {
      text-align: right;
    }
  }
  .tabs {
    height: 64px;
    line-height: 64px;
    text-align: center;
    .switcher-links;
  }
}

#images {
  .content-field;
  background-color: @haiiro-background-light;
  margin-top: 65px;
  img {
    width: 100%;
    margin-top: 15px;
  }
  iframe.video {
    min-height: 330px;
  }
}

#description {
  .content-field;
  background-color: @haiiro-background-dark;
  h2 {
    font-size: 0.9em;
    font-weight: normal;
    margin-top: 1.5em;
  }
  .content {
    line-height: 1.8em;
    margin-bottom: 2.0em;
  }
  p {
    margin: 0.6em 0;
  }
}

#cover {
  .content-field;
  background-color: @haiiro-background-dark;
  min-height: 350px;
  svg.haiiro-icon {
    margin-left: 20px;
  }
  .myself {
    .name {
      font-size: 4.0em;
      text-align: center;
      margin-bottom: 0.2em;
    }
    .occupation {
      font-size: 1.2em;
      text-align: center;
    }
  }
}

#switcher {
  height: 65px;
  margin: auto;
  background-color: @haiiro-background-dark;
  border-bottom: 1px solid @haiiro-section-border;
  text-align: center;
  .tabs {
    height: 64px;
    line-height: 64px;
    opacity: 0;
    transition: opacity .4s ease-in;
    &.show {
      opacity: 1;
    }
    .switcher-links
  }
}

#works {
  .content-field;
  background-color: @haiiro-background-light;
  width: 100%;
  #planning-works {
    a {
      display: block;
      width: 100%;
      &:hover {
        background-color: @haiiro-background-dark;
      }
    }
    .work {
      height: 60px;
      line-height: 60px;
      font-size: 1.0em;
      .title {
        text-align: left;
      }
      .year {
        text-align: right;
      }
    }
  }
  #design-works {
    .work-image {
      margin-top: 40px;
      text-align: center;
      img {
        height: 160px;
      }
    }
  }
  .filtered-works {
    display: none;
    &.active {
      display: block;
    }
  }
}

#footer {
  .content-field;
  margin-top: 100px;
  background-color: @haiiro-background-light;
  p#copyright {
    color: #6b6b6b;
    font-size: 12px;
    text-align: center;
    line-height: 2.0em;
  }
}

svg.haiiro-icon {
  rect {
    transition: fill .6s ease;
  }
}
