#page-notfound
  section
    .title haiji404
    .subtitle Not Found
  != partial('_shared/footer')

script.
  (function() {
    var resizeBanner = function() {
      u('section').attr('style', 'height: ' + (window.innerHeight - u('footer').size().height) + 'px;');
    };
    window.onresize = function() {
      if (window.innerWidth < 768) return;
      resizeBanner();
    };
    resizeBanner();
  })();
