.g-wide-5-24.g-1-24
.g-wide-14-24.g-11-12
  img#haiiro-icon(src= '/images/haiiro.png')

#cover
  .g-wide-5-24.g-1-24
  .g-wide-14-24.g-11-12
    h2.name= public._data.meta.copyright
    h3.occupation= public._data.meta.occupation

#works
  .g-wide-5-24.g-1-24
  .g-wide-14-24.g-11-12
    each item in public._data.works
      .career-box
        .g-wide-1-4.g-1-1.term(class= item.present ? 'present' : '')
          = item.title
        .g-wide-3-4.g-1-1.content
          = item.description
          = item.published_year

#links
  .g-wide-5-24.g-1-24
  .g-wide-14-24.g-11-12
    h2 Contacts to @haiji505
    each item in public._data.links
      .g-wide-1-3.g-1-1
        .link-box
          a(href= item.link, target= '_blank')
            .icon-box
              i.fa(class= 'fa-' + item.icon)
              span.link-name= item.name

#footer
  .g-wide-5-24.g-1-24
  .g-wide-14-24.g-11-12
    p#copyright
      | &copy;&nbsp;
      = new Date().getYear() + 1900
      | &nbsp;
      = public._data.meta.copyright
      | .
      br/
      | Lovingly made by Haiji &amp;&nbsp;
      a(href='http://hmsk.me', target= '_blank') hmsk
      | .
