#cover
  .g-wide-5-24.g-1-24
  .g-wide-14-24.g-11-12
    img#haiiro-icon(src= '/images/haiiro.png')
  .g-wide-5-24.g-1-24
  .g-wide-14-24.g-11-12
    h2.name= public._data.meta.copyright
    h3.occupation= public._data.meta.occupation

#switcher
  a#planning-tab(href='#planning') Planning
  a#design-tab(href='#design') Design

#works
  .g-wide-5-24.g-1-24
  .g-wide-14-24.g-11-12
    - each tag in ['planning', 'design']
      - var filtered = public._data.works.filter(function (w) { return (w.tags.indexOf(tag) != -1); } );
      - eval(tag + '_works = filtered');

    #planning-works.filtered-works
      each work in planning_works
        a(href= '/works/' + work.name)
          .work
            .g-wide-3-4.g-1-1.title
              = work.title
            .g-wide-1-4.g-1-1.year
              = work.published_year
    #design-works.filtered-works
      each work in design_works
        a(href= '/works/' + work.name)
          .work
            .g-wide-3-4.g-1-1.title
              = work.title
            .g-wide-1-4.g-1-1.year
              = work.published_year

#links
  .g-wide-5-24.g-1-24
  .g-wide-14-24.g-11-12
    h2 Contacts to @haiji505
    each item in public._data.links
      .g-wide-1-3.g-1-1
        .link-box
          a(href= item.link, target= '_blank')
            .icon-box
              i.fa(class= 'fa-' + item.icon)
              span.link-name= item.name

#footer
  .g-wide-5-24.g-1-24
  .g-wide-14-24.g-11-12
    p#copyright
      | &copy;&nbsp;
      = new Date().getYear() + 1900
      | &nbsp;
      = public._data.meta.copyright
      | .
      br/
      | Lovingly made by Haiji &amp;&nbsp;
      a(href='http://hmsk.me', target= '_blank') hmsk
      | .

script.
  (function() {
    var planningTab = document.getElementById('planning-tab');
    var planningWorks = document.getElementById('planning-works');
    var designTab = document.getElementById('design-tab');
    var designWorks = document.getElementById('design-works');

    var switchWorks = function(target) {
      if (target == 'planning') {
        planningTab.classList.add('active');
        planningWorks.classList.add('active');
        designTab.classList.remove('active');
        designWorks.classList.remove('active');
      } else {
        planningTab.classList.remove('active');
        planningWorks.classList.remove('active');
        designTab.classList.add('active');
        designWorks.classList.add('active');
      }
    };
    planningTab.addEventListener('click', function() { switchWorks('planning') }, false);
    designTab.addEventListener('click', function() { switchWorks('design') }, false);
    switchWorks(window.location.hash == '#design' ? 'design' : 'planning');
  })();
